@border-color: gray;

.rvgt--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid @border-color;
}

.rvgt--empty {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rvgt--head {
    flex-shrink: 0;
    height: 30px;
    overflow: hidden !important;
    outline: none;
}

.rvgt--body {
    flex-grow: 1;
    outline: none;
}

.rvgt--head-td,
.rvgt--body-td {
    white-space: nowrap;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.rvgt--body-td_active {
}

.rvgt--head-td {
    height: 30px;
    line-height: 30px;
    user-select: none;
}

.rvgt--head-td-bar {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    z-index: 2;
    padding: 0 5px;
    cursor: ew-resize;
}
